parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Console/Commands/BackupDatabase.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nombre\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Pages/ActualizarPrecios.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Presentacion\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Filament/Pages/ActualizarPrecios.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$fecha\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Pages/ResumenCuenta.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$metodo\.$#'
			identifier: property.notFound
			count: 2
			path: app/Filament/Pages/ResumenCuenta.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$monto\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Pages/ResumenCuenta.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$notas\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Pages/ResumenCuenta.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Filament/Pages/ResumenCuenta.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nombre\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/ComboResource.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: app/Filament/Resources/GastoResource.php

		-
			message: '#^Offset ''comisionista''\|''logistica''\|''otro''\|''proveedor'' on array\{comisionista\: ''Comisionista'', proveedor\: ''Proveedor'', logistica\: ''Logística'', otro\: ''Otro''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Filament/Resources/GastoResource/Pages/ListGastos.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/PedidoResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nombre\.$#'
			identifier: property.notFound
			count: 2
			path: app/Filament/Resources/PedidoResource.php

		-
			message: '#^Unsafe call to private method App\\Filament\\Resources\\PedidoResource\:\:cambiarEstado\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 5
			path: app/Filament/Resources/PedidoResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Filament/Resources/PedidoResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>nombre" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/PedidoResource.php

		-
			message: '#^Cannot access property \$estado on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Filament/Resources/PedidoResource/Pages/EditPedido.php

		-
			message: '#^Cannot call method recalcularTotal\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/PedidoResource/Pages/EditPedido.php

		-
			message: '#^Cannot call method restaurarStock\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/PedidoResource/Pages/EditPedido.php

		-
			message: '#^Cannot access property \$id on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Resources/PedidoResource/Pages/ViewPedido.php

		-
			message: '#^Cannot access property \$saldo on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Filament/Resources/PedidoResource/Pages/ViewPedido.php

		-
			message: '#^Cannot call method pagos\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/PedidoResource/Pages/ViewPedido.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$cantidad\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$congelado\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$frio\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$presentacion_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Access to protected property App\\Models\\Combo\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Combo\>\:\:\$items\.$#'
			identifier: property.protected
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Using nullsafe property access "\?\-\>nombre" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/CartController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:activos\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/CategoriaController.php

		-
			message: '#^Access to an undefined property App\\Models\\Combo\:\:\$precio_final\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ComboController.php

		-
			message: '#^Access to an undefined property App\\Models\\Combo\:\:\$precio_sin_descuento\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ComboController.php

		-
			message: '#^Access to an undefined property App\\Models\\Combo\:\:\$precio_final\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Access to an undefined property App\\Models\\Combo\:\:\$precio_sin_descuento\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$congelado\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$frio\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nombre\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$presentaciones\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$sin_tacc\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Anonymous function should return array\{id\: int, nombre\: string, productos\: Illuminate\\Support\\Collection\<int, array\{id\: mixed, nombre\: mixed, marca\: mixed, sin_tacc\: mixed, frio\: mixed, congelado\: mixed, presentaciones\: mixed\}\>\} but returns array\{id\: int, nombre\: string, productos\: Illuminate\\Support\\Collection\<int, array\{id\: int, nombre\: string, marca\: mixed, sin_tacc\: mixed, frio\: mixed, congelado\: mixed, presentaciones\: mixed\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ListaPreciosController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:activos\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/MarcaController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nombre\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/OfertasController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:activos\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/OfertasController.php

		-
			message: '#^Using nullsafe property access "\?\-\>nombre" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/OfertasController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$cantidad\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PedidoClienteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nombre\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProductoController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:activos\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/ProductoController.php

		-
			message: '#^Using nullsafe property access "\?\-\>nombre" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ProductoController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$estado\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$precio_final\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Combo.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:sum\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: \(float\|int\)\)\|string\|null, Closure\(App\\Models\\ComboItem\)\: \(float\|int\) given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Combo.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$cantidad\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Pedido.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$presentacion_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Pedido.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:onlyTrashed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Producto.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$congelado\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$frio\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$imagen_url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nombre\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Presentacion\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Using nullsafe property access "\?\-\>nombre" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Services/CartService.php
